<div id="annotations-list">
	{{#paper-list}}
	<h3 id="annotations-header">Annotations</h3>
	{{#each @model.annotations as |annotation|}}
	{{#paper-item class="md-1-line"}}
	<p>{{annotation.text}}</p>
	{{/paper-item}}
	{{/each}}
	{{/paper-list}}
</div>