@import 'ember-paper';

main.container {
	height: auto;
}

h2 {
	text-align: center;
}

// Inside container
div#inside-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

// Independent scrolling
.independent-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80vh;
}