<main class='container'>

<div id="header">
	<h1 style="text-align: center;"><LinkTo @route='redirect'>Library</LinkTo></h1>
	<span style="width: 50px;"></span>
	<a href="https://github.com/noahthorn/annotation-store"><img src="/icons/github.png" /></a>
</div>

{{paper-divider class="relative"}}

{{outlet}}

{{paper-divider}}
</main>